/* 전체 페이지 레이아웃 스타일 */
.page {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('./login-background.png'); 
    background-size: cover; 
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

/* 왼쪽 배경에 이미지 설정 */
.leftSection {
    width: 50%;
    height: 100%;
    background-image: url('./login-background.png') !important; 
    background-size: cover !important; 

}

/* 오른쪽 로그인/회원가입 폼 영역 */
.rightSection {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 폼 컨테이너 스타일 */
.formContainer {
    width: 440px;
    padding: 40px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 30px;
    border: 1.5px solid #999999;
}

/* 제목 스타일 */
.titleWrap {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 39px;
    color: #242424;
    text-align: center;
    margin-bottom: 40px;
}

/* 입력 필드 스타일 */
.inputWrap {
    margin-top: 20px;
    display: flex;
    border-radius: 8px;
    padding: 16px;
    background-color: #ffffff;
    border: 1.5px solid #999999;
}

.input {
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: #242424;
}

/* 버튼 스타일 */
.bottomButton {
    width: 100%;
    height: 54px;
    margin-top: 30px;
    border: none;
    font-weight: 800;
    background-color: #999999;
    border-radius: 30px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.bottomButton:disabled {
    background-color: #dadada;
    cursor: not-allowed;
}

/* 링크 스타일 */
.registerLink {
    font-size: 16px;
    font-weight: 500;
    color: #999999;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
