.book_image{
  margin-left : 20px;
  object-fit: cover; /* 이미지 비율 유지 */
  width: 143.81px;
  height: 190.4px;
  border-radius: 10px;
  transition:transform 0.3s ease;
}

.book_image:hover{
  transform: scale(1.1);
}
