.mypage {
  width: 1300px;
  height: 300px;
}

.mypage-Mycollection {
  width: 1050px;
  height: 320px;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 165px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.mypage-Mycollection-content {
  position: relative;
}

.mypage-Mycollection-header {
  display: flex;
}

.mypage-Mycollection-button1 {
  margin-top: 12px;
  margin-left: 15px;
  width: 185px;
  height: 35px;
  white-space: nowrap;
}

.mypage-Mycollection-button1 p {
  font-weight: bold;
  margin-top: 4px;
  margin-left: 12px !important;
}

.mypage-Mycollection-button2 {
  margin-top: 12px;
  margin-left: 30px;
  width: 180px;
  height: 35px;
  font-weight: bold;
}
.mypage-Mycollection-button2 p {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 55px !important;
}

.mypage-Mycollection-button3 {
  margin-top: 12px;
  margin-left: 15px;
  width: 180px;
  height: 35px;
  font-weight: bold;
}
.mypage-Mycollection-button3 p {
  font-weight: bold;
  margin-top: 5px;
  margin-left: 22px !important;
}

.mypage-Mycollection p {
font-weight: bold;
margin-left: 30px;
}

.mypage-Mycollection-loadingbox p{
  margin-left: 480px;
  
}

.mypage-Mycollection  .mypage-loader {
  margin: auto;
  margin-top: 100px !important;
  width: 50px;
  height: 50px;
  border: 4px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: mypage-spin 0.8s linear infinite;
}

@keyframes mypage-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.mypage-topbox {
  display: flex;
}

.mypage-Mycomment {
  width: 700px;
  height: 300px;
  background-color: #FAFFF3;
  border-radius: 15px;
  box-shadow: 0 4px 8px #4242421a;
  margin-left: 85px;
}


.mypage-Mycomment-loadingbox p {
  text-align: center;
  margin-right: 20px;
}

.mypage-Mycomment .mypage-loader {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: mypage-spin 0.8s linear infinite;
}

.mypage-Mycomment p{
  font-weight: bold;
  margin-left: 30px;
}

.mypage-Mycomment-list {
  width: 695px;
  height: 230px;
  overflow-y: auto;
}

.mypage-comment {
  display: flex;
  width: 620px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 0 4px 8px #4242421a;
  margin-left: 40px;
  background-color: white;
  margin-bottom: 3px;
}

.mypage-comment-info {
  display: flex;
}
.mypage-comment-info-img {
  width: 65px;
  height: 80px;
  box-shadow: 0 4px 8px #4242421a;
  border-radius: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.mypage-comment-info-img img{
  width: 65px;
  height: 80px;
  box-shadow: 0 4px 8px #4242421a;
  border-radius: 10px;
}

.mypage-comment-info-header {
  display: flex;
  margin-left: 20px;
  margin-bottom: -25px;
  
}

.mypage-comment-info-header h4 {
  flex: 1 1 0; /* 플렉스 크기 조절 */
  white-space: nowrap; /* 줄바꿈 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 410px;
  min-width: 0; /* 플렉스 환경에서 ellipsis 작동을 위해 최소 너비를 0으로 설정 */
}


.mypage-comment-info-header p {
  margin-top: 20px;
  color: rgb(216, 216, 0);
}

.mypage-comment-info-comment {
  font-size: 14px;
  font-weight: 500 !important;
}

.mypage-Mycomment-list::-webkit-scrollbar {
  width: 10px; 
}

.mypage-Mycomment-list::-webkit-scrollbar-track { 
  background-color: rgb(221, 219, 219);
}

.mypage-Mycomment-list::-webkit-scrollbar-thumb { 
  background-color: rgb(193, 251, 166);
}  
.mypage-Mycomment-list::-webkit-scrollbar-button {
  display: none;
}

.mypage-Mycomment-list::-webkit-scrollbar-thumb:hover {
  background-color: rgb(231, 255, 214);
  transition: all 0.2s; /* 애니메이션 속도 */
}

/* 모서리 둥글게 */
.mypage-Mycomment-list::-webkit-scrollbar-track,
.mypage-Mycomment-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.mypage-userimage {
  width: 130px;
  height: 130px;
  border-radius: 150px;
  box-shadow: 0 4px 8px #4242421a;
  background-image: url('./plimage.jpg');
  background-size: 140%;
  background-position: -25px;
  margin-left: 200px;
  margin-top: 50px;
}

.mypage-username-box {
  margin-left: 186px;
  margin-top: 30px;
  display: flex;
}

.mypage-username-p {
  width: 125px;
  height: 40px;
  border-bottom: 1px;
  border-color: #ddd;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 4px 8px #4242421a;
  text-align: center;
}

.mypage-username-p p {
  margin-top: 10px;
  margin-left: 5px;
}

.mypage-username-edit {

  width: 35px;
  height: 41px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(255, 255, 247);
  box-shadow: 0 4px 8px #4242421a;
}

.mypage-username-edit span {
  margin-top: 8px;
  margin-left: 5px;
}

.mypage-username-edit:hover {
  background-color: #feffd4 ;
}

.mypage-username-editing {
  display: flex;
}

.mypage-username-editing input{
  width: 120px;
  height: 38px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px 0 0 10px;
  font-size: 17px;
  text-align: center;
}

.mypage-username-save {
  width: 35px;
  height: 41px;
  border-radius: 0 10px 10px 0;
  background-color: rgb(255, 255, 247);
  box-shadow: 0 2px 2px #4242421a;
  border: 0px solid white;  
  
}

.mypage-username-save span {
  margin-left: 1px;
  margin-top: 2px;
}

.mypage-username-save:hover {
  background-color: #feffd4 ;
}


.mypage-username  .mypage-loader {
  margin: auto;
  margin-top: 35px;
  margin-left: 250px;
  width: 20px;
  height: 20px;
  border: 4px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: mypage-spin 0.8s linear infinite;
}

.mypage-playlist-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  margin-left: 33px;
  overflow-x: auto;
  width: 995px;
  height: 260px;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  
}

.mypage-playlist-container::-webkit-scrollbar {
  display: block;
}

.mypage-playlist-box {
  width: 130px;
  height: 160px;
  text-align: center;
  border: 1px solid rgb(223, 222, 222);
  box-shadow: 0 4px 8px #0000001a;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-left: 13px;
  margin-top: 15px;
}



.mypage-playlist-image {
  width: 130px;
  height: 160px;
  border-radius: 10px;
  border: 1px solid rgb(223, 222, 222);
}
.mypage-playlist-image p {
  margin-left: auto;
  margin-right: auto;
}

.mypage-playlist-hover-text {
  display: none;
  position: absolute;
  top: 50%; /* 가운데 정렬 */
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(32, 32, 32, 0.6); /* 반투명 배경 */
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.mypage-playlist-image:hover {
  transform: scale(1.05);
  transition: all 0.2s linear;
}




.mypage-playlist-title {
  flex: 1 1 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 400px;
  min-width: 0;
}

.mypage-playlist-title p {
  width: 140px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; 
}

.mypage-playlist-hover-container {
  position: relative;
}

.mypage-playlist-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.mypage-playlist-arrow:hover {
  background-color: #f7f7f7;
}

.mypage-playlist-arrow-left {
  left: 12px;
  top: 100px; 
  
}

.mypage-playlist-arrow-left span {
  margin-left: -4px;
  margin-top: -5px;
}

.mypage-playlist-arrow-right {
  right: 12px; /* 오른쪽 화살표 위치 */
  top: 100px;
}

.mypage-playlist-arrow-right span {
  margin-left: -4px !important;
  margin-top: -6px !important;
}

.mypage-playlist-arrow-right span {
  margin-left: -1px;
}


/* 화살표 아이콘 스타일 */
.mypage-playlist-arrow span {
  font-size: 15px;
  color: #333;
}






































.mypage-playlist-modal-button {
  display: none; /* 기본적으로 숨김 */
  position: absolute; /* 부모 컨테이너를 기준으로 위치 설정 */
  top: 0; /* 이미지의 상단에 위치 */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 238, 238, 0.5);
  color: black;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.mypage-playlist-box:hover .mypage-playlist-modal-button {
  display: block;
}

.mypage-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mypage-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 30px;
  width: 1200px;
  height: 650px;
  position: relative;
  animation: playlist-modal-down 0.3s linear;
}

.mypage-modal-close-button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  float: right;
  border-radius: 15px;
}

.mypage-modal-close-button:hover {
  background-color: #dddddd;
}






.mypage-modal-books{
  position: absolute;
  left: 470px;
  top: 170px;
  width: 665px;
  height: 390px;
  overflow-y: auto;
  max-height: 650px;
}
.mypage-modal-book{
  display: flex;
  align-items: center;
  width: 640px;
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: rgb(250, 255, 227);
  border: 1px solid rgba(0, 0, 0, 0.1); 
}
.mypage-modal-book img {
  width: 60px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 23px
}

.mypage-modal-booktitle {
  display: flex;
  flex-direction: column;
  flex: 1 1 0; /* 플렉스 크기 조절 */
  white-space: nowrap; /* 줄바꿈 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 400px;
  min-width: 0; /* 플렉스 환경에서 ellipsis 작동을 위해 최소 너비를 0으로 설정 */
  margin-left: 20px;
}

.mypage-modal-booktitle h3,
.mypage-modal-booktitle p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
}

.mypage-modal-booktitle h3{
  margin-bottom: 0;
}

.mypage-modal-booktitle p{
  margin-top: 0;
}

.mypage-modal-books::-webkit-scrollbar {
  width: 10px;
}

.mypage-modal-books::-webkit-scrollbar-track { 
  background-color: rgb(221, 219, 219);
}

.mypage-modal-books::-webkit-scrollbar-thumb { 
  background-color: rgb(193, 251, 166);
}  
.mypage-modal-books::-webkit-scrollbar-button {
  display: none;
}

/* hover 효과 */
.mypage-modal-books::-webkit-scrollbar-thumb:hover {
  background-color: rgb(231, 255, 214);
  transition: all 0.2s; /* 애니메이션 속도 */
}

/* 모서리 둥글게 */
.mypage-modal-books::-webkit-scrollbar-track,
.mypage-modal-books::-webkit-scrollbar-thumb {
  border-radius: 5px;
}







.mypage-modal-plheader {
  margin-left: 460px;
  margin-top: 40px;
  display: flex;
}

.mypage-modal-image {
  border: 1px solid black;
  width: 70px;
  height: 93px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.mypage-modal-plname-edit {
  display: flex;
}

.mypage-modal-plname-edit button {
  margin-top: 30px;
  width: 56px;
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  margin-left: auto;
}

.mypage-modal-plname  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 0; /* 플렉스 크기 조절 */
  white-space: nowrap; /* 줄바꿈을 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 300px;
  min-width: 0;
  margin-left: 23px;
  margin-top: 10px;
  margin-right: 30px;
}

.mypage-modal-plname h2 {
  font-size: 18px;
  white-space: nowrap; /* 줄바꿈을 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 100%;
  margin-bottom: 10px;
}

.mypage-modal-plname p {
  font-size: 13px;
  white-space: nowrap; /* 줄바꿈을 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 100%;
  margin-top: 0px;
}

.mypage-modal-plname-edit-save {
  display: flex;
}

.mypage-modal-plname-save {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-left: 20px;
}

.mypage-modal-plname-save input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.mypage-modal-plname-edit-save button {
  margin-top: 20px;
  width: 56px;
  height: 50px;
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1001;
  margin-left: auto;
}





.mypage-playlist-selected-book-cover {
  width: 200px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 15px;
  margin: 0 auto;
  background-color: rgb(250, 255, 227);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  
}
.mypage-playlist-book-choosetitle {
  margin-top: 280px;
  margin-left: 82px;
  text-align: center;
  max-width: 300px;
}

