.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 열을 5개로 설정 */
  gap: 40px; /* 각 요소 간의 간격 */
  max-width: 80vw; /* 화면 너비의 80%로 제한하여 중앙 정렬 유지 */
  margin: 0 auto; /* 수평 중앙 정렬 */
  height: 100vh; /* 화면 높이 중앙 정렬 */
}
  
.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  justify-items: center;
}

.grid-bookplaylist-item {
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  width: 150px;
  height: 200px;
  margin-bottom: 200px;
}
.grid-bookplaylist-img{
  width: 170px;
  height: 210px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px #0000004d;
  transition: transform 0.3s ease;
}
.grid-bookplaylist-img:hover{ 
  transform: scale(1.05);
}
.grid-row {
  display: flex;
  gap: 100px;
}

.grid-bookplaylist-title{
  font-size: 16px;
  margin: 10px 0 5px;
  text-overflow: ellipsis;
  max-width: 200px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.playlists-loading{
  margin: auto;
  width: 100px;
  height: 100px;
  border: 10px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: playlist-spin 0.8s linear infinite;
}

.gird-bookplaylist-username,
.gird-bookplaylist-likeCount{
  font-size: 14px;
  margin: 2px 0;
  color: #555;
}

.gird-bookplaylist-likeCount{
  cursor: pointer;
}