
.modal-overlay {
  
  top: 10vh;
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-v {
  width:1000px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 1200px;
  min-width: 1000px;
}

.modal-grid{
  background-color: #ffffff;
  height: 500px;
  position: relative;
}
.modal-left{
  float: left;
}

.modal-right{
  overflow: auto;
  float:right;
  width:70%;
  height: 500px;
}
.modal-title{
  width: 200px;
}
.modal-image{
  width: 200px;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(184, 182, 182, 0.4);
}

.liking-button{
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 8px 15px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.liking-button:hover{
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}

.modal-close-btn {
  margin-top: 15px;
  padding: 8px 15px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.modal-content button:hover {
  background-color: rgb(174, 252, 143);
}

.playlist-loading {
  margin-left: auto;
  margin-top: 190px;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border: 10px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: playlist-spin 0.8s linear infinite;
}

.book-item{
  padding-bottom: 20px;
  right: 0px;
  width: 100%;
  max-width: 600px;
  position: relative;
  border: #ddd 1px solid;
  padding: 10px;
  border-radius: 10px;
  height: 150px;
  transition: 0.2s ease;
}

.book-item:hover{
  transform: scale(1.03);
}

.book-image{
  margin-bottom: 20px;
  position:absolute;
  left: 10px;
  width: 100px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.book-info{
  width: 400px;
  margin-left:100px;
}

.modal-description{
  list-style-type: none;
}

.favorite-button-loading {
  margin: auto;
  width: 30px;
  height: 30px;
  border: 4px solid #ddd;
  border-right-color: rgb(2, 255, 107);
  border-top-color: rgb(2, 255, 107);
  border-radius: 50%;
  animation: playlist-spin 0.8s linear infinite;
}