.login {
  margin-right: 10px;
  position: absolute;
  width: 100px;
  height:50px;
}

.MakePlaylist { 
  position: sticky;
  display: flex;
  justify-content: center;
  align-items:center;
  bottom: 0;
  margin-bottom: 5px;
}

.playlistButton {
    /* Rectangle 5 */

  width: 350px;
  height: 50px;

  background: #999999;
  box-shadow: 0px 0px 10px #999999;
  border-radius: 30px;

}


/* 기본 레이아웃 스타일 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width:100%;
  width:1500px;    
  margin-left: auto;    
  margin-right: auto;
}

header {
/* Rectangle 12 */

height: 130px;
max-width:100%;
width:1500px;    
margin-left: auto;    
margin-right: auto;

background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

}

.logo {
  /* Group 7 */

  position: absolute;
  width: 219px;
  height: 70px;
  padding-left:10px;
  top: 29px;
  margin-left: auto;    
  margin-right: auto;
}

.search-bar {
  /* Rectangle 5 */

  box-sizing: border-box;

  position: absolute;
  width: 690px;
  height: 62px;
  top: 34px;

  background: #FFFFFF;
  border: 2px solid #9D9D9D;
  box-shadow: 0px 0px 7px #999999;
  border-radius: 30px;

  padding-left:50px;
  margin-left: 500px;    
  margin-right: auto;
}

.user-menu a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

/* 레이아웃 */
.container {
  display: flex;
  flex-direction: row; /* 가로 배치 */
  height: 100vh; /* 화면 전체 높이 */
}

.sidebar {
  margin-top:10px;
  min-width: 200px;
  width: 200px;
  background-color: #f8f8f8;
  padding: 20px;
  height: 100vh; /* 전체 화면 높이 */
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.bestseller-container {
  margin-left:100px;
  display:table;
  background-color: #ffffff; /* 회색 배경 */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.bestseller-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bestseller-item {
  flex: 1 1 calc(10% - 10px); /* 각 아이템의 너비 감소 */
  margin: 5px;
  text-align: center;
}

.bestseller-item img {
  width: 50%; /* 이미지의 너비를 줄임 */
  height: auto;
  transition: transform 0.3s ease;
}

.bestseller-item img:hover {
  transform: scale(1.2);
}


.bestseller-title {
  font-size: 30px; /* 제목의 폰트 크기를 줄임 */
  margin-bottom: 5px;
}

.bestseller-book-title{
  font-size: 15px;
}

.bestseller-author {
  font-size: 10px; /* 저자 폰트 크기를 줄임 */
  color: gray;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top: 20px;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  list-style: none; /* 점 제거 */
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  padding: 8px 12px;
  background-color: #c8c4c4;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  flex: 1;
  text-align: center;
}
.TodayPlaylist-container {
  margin-left:100px;
  display:table-call;
  background-color: #ffffff; /* 흰색 배경 */
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.TodayPlaylist-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.TodayPlaylist-item {
  flex: 1 1 calc(10% - 10px); /* 각 아이템의 너비 감소 */
  margin: 5px;
  text-align: center;
}

.TodayPlaylist-item img {
  width: 50%; /* 이미지의 너비를 줄임 */
  height: auto;
  transition: transform 0.3s ease;
}

.TodayPlaylist-item img:hover {
  transform: scale(1.2); 
}

.TodayPlaylist-title {
  font-size: 30px; /* 제목의 폰트 크기를 줄임 */
  margin-bottom: 5px;
}

.TodayPlaylist-author {
  font-size: 10px; /* 저자 폰트 크기를 줄임 */
  color: gray;
}
