.login {
  position: absolute;
  margin-left: 1300px;
  width: 200px;
  height:40px;
  top: 36px;
  border: none;
  background: #C6E898;
}

.MakePlaylist { 
  position: sticky;
  display: flex;
  justify-content: center;
  align-items:center;
  bottom: 5px;
  margin-bottom: 5px;

}

.playlistButton {
  width: 464px;
  height: 60px;
  background: #3cfe56;
  box-shadow: 0px 0px 10px #999999;
  border-radius: 30px;
  margin-bottom: 30px;
  border: 1px solid #3cfe56;
}


body {
  margin: 0;
  font-family: Arial, sans-serif;
  max-width:100%;
  width:1500px;    
  margin-left: auto;    
  margin-right: auto;
}
header {
  /* Rectangle 12 */
  top: 0px;
  margin-top: 0;
  padding-top: 0;
  height: 114px;
  max-width:100%;
  width:1500px;    
  margin-left: auto;    
  margin-right: auto;
  background: #C6E898;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
  }
.logo {
  /* Group 7 */

  position: absolute;
  width: 219px;
  height: 70px;
  padding-left:10px;
  top: 23px;
  margin-left: 60px;    
  margin-right: auto;
}

.search-bar {
  box-sizing: border-box;
  position: absolute;
  width: 690px;
  height: 62px;
  top: 24px;

  background: #FFFFFF;
  border: 1px solid #dfdfdf;
  box-shadow: 0px 0px 7px #177728;
  border-radius: 30px;

  padding-left:50px;
  margin-left: 450px;    
  margin-right: auto;
}



.user-menu a {
  margin-left: 10px;
  text-decoration: none;
  color: #333;
}

.sidebar {
  margin-top:10px;
  width: 250px;
  background-color: #ffffff;
  padding: 20px;
  height: 100vh; /* ?���? ?���? ?��?�� */
  list-style: none;
  border-right: 0.1px solid #e7e4e4;
  float: left;

}

.sidebar ul {
  width: 250px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Pretendard Variable', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}


.sidebar li {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom:20px;
}

.sidebar img {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-right: 10px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
}

.main-content {
  margin-left: 200px;
  padding: 10px;
}

.slider-section {
  margin: 20px;
}

