.btd {
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }
  
  .plbt {
    background-color: white;
    width: 500px;
    height: 80px;
    border-radius: 50px;
    font-size: 30px;
  }
  
  .plbt:hover {
    background-color: rgb(223, 221, 221);
    transition: 0.3s;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  
  .book-cover-box {
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 150px;
    bottom: 280px;
  }
  .book-choosetitle {
    margin-top:280px;
    margin-left: 87px;
    text-align: center;
    max-width: 300px;
  }
  
  
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #dddddd;
  }
  
  .book-title {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 700px;
    margin-bottom: 200px;
    
  }
  
  .bookbox{
    margin-top: 100px;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    width: 1200px;
    height: 650px;
    text-align: center;
    position: relative;
    animation: modal-down 0.3s linear; 
  }
  
  @keyframes modal-down {
    from {
      transform: translateY(-5%); 
    }
    to {
      transform: translateY(0);
    }
  }
  
  .pladd {
    background-color: white;
    border-radius: 20px ;
    border-color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    position: absolute;
    left: 800px;
    bottom: 70px;
  }
  
  .second-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    width: 1200px;
    height: 650px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  
  .search-box input {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    flex: 1;
    color: #333;
    border-radius: 50px;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
  }
  
  .search-results {
    margin-top: 10px;
    width: 1200px;
    height: 300px;
  }
  .search-results::-webkit-scrollbar {
    width: 10px;
    
  }
  .search-results::-webkit-scrollbar-track { 
    background-color: rgb(221, 219, 219);
  }
  .search-results::-webkit-scrollbar-thumb { 
    background-color: rgb(193, 251, 166);
  }  
  .search-results::-webkit-scrollbar-button {
    display: none;
  }
  
  .book-result {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    width: 1000px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .result-book-cover {
    width: 70px;
    height: 80px;
    margin-left: 40px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(126, 125, 125, 0.808);
  }
  
  .book-list {
    display: flex;
  
    flex-direction: column;
    position: absolute;
    left: 470px;
    top: 170px;
    width: 665px;
    height: 390px;
    overflow-y: auto;
    max-height: 420px;
    max-height: 650px;
  }
  
  .book-list::-webkit-scrollbar {
    width: 10px;
    
  }
  .book-list::-webkit-scrollbar-track { 
    background-color: rgb(221, 219, 219);
  }
  .book-list::-webkit-scrollbar-thumb { 
    background-color: rgb(193, 251, 166);
  }  
  .book-list::-webkit-scrollbar-button {
    display: none;
  }

/* hover ȿ�� */
.book-list::-webkit-scrollbar-thumb:hover {
    background-color: rgb(231, 255, 214);
    transition: all 0.2s; /* �۵� �� �� */
}

/* �ڳʿ� ���� ȿ�� */
.book-list::-webkit-scrollbar-track,
.book-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
}
  .book-item {
    display: flex;
    align-items: center;
    width: 640px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    border-radius: 15px;
    background-color: rgb(250, 255, 227);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .book-info {
    display: flex;
    margin-left: 23px;
    margin-top: 20px;
    width: 640px;
    height: 100px;
  }
  
  .booktitle {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .booktitle h3{
    margin-bottom: 0;
  }
  
  .booktitle p{
    margin-top: 0;
  }
  .book-mcover {
    width: 60px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
  }
  
  .result-title {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0; /* 플렉스 크기 조절 */
    white-space: nowrap; /* 줄바꿈을 없앰 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
    max-width: 700px;
    min-width: 0; 
  }
  .result-title h3 {
    margin-bottom: 0px;
    white-space: nowrap; /* 줄바꿈을 없앰 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
    max-width: 100%;
  }

  .result-title p {
    white-space: nowrap; /* 줄바꿈을 없앰 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
    max-width: 100%;
  }
  
  .search-results {
    overflow-y: auto;
    max-height: 460px;
  }

  
  
  .mystudy {
    border-top: 1px solid #333;
    width: 1240px;
    margin-left: -20px;
    
  }
  
  .add-book-btn {
    background-color: white;
    border-radius: 20px ;
    border-color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
    margin-left: auto; /* 버튼?�� ?��른쪽 ?��?���? ?��?�� */
    margin-right: 40px;
  }
  
  .selected-book-cover {
    width: 200px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .plname {
    width: 300px;
    margin-left: 550px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
  }

  .plname h2{
    margin-bottom: 8px;
  }
  .plname p{
    margin-top: 0;
  }

  .plimage {
    width: 70px;
    height: 70px;
    position: absolute;
    right:690px;
    top:82px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f0f0f0;
    background-image: url('./plimage.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .plimage:hover .change-image-btn {
    display: block;
  }
  
  .change-image-btn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: rgba(88, 88, 88, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .playlist-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .plsave {
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100px;
    display: flex;
    position: absolute;
    right: 150px;
    top: 100px;
  }

 .plsave span {
    color: rgb(2, 255, 107);
    font-size: 35px;
    margin-top: 5px;
 }

 .plsave:hover {
     background-color: #f5f3f3;
 }

 .plname input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.plname button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    margin-left: auto;
}

.plname button:hover {
    background-color: #f0f0f0;
}

.pledit1 {
    display: flex;
    align-items: center;
}

.pledit1 button {
    margin-left: 30px;
    margin-top: 10px;
    
}

.edittitle1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0; /* 플렉스 크기 조절 */
    white-space: nowrap; /* 줄바꿈을 없앰 */
    overflow: hidden; /* 넘친 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
    max-width: 300px;
    min-width: 0;
}

.edittitle1 h2 {
  font-size: 18px;
  white-space: nowrap; /* 줄바꿈을 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 100%;
}

.edittitle1 p {
  font-size: 13px;
  white-space: nowrap; /* 줄바꿈을 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 100%;
}

.pledit2 {
    display: flex;
    align-items: center;
}

.edittitle2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pledit2 button {
    margin-left: 50px;
    margin-bottom: 10px;
    
}

.booktitle {
  margin-left: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0; /* 플렉스 크기 조절 */
  white-space: nowrap; /* 줄바꿈 없앰 */
  overflow: hidden; /* 넘친 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘친 부분에 '...' 표시 */
  max-width: 400px;
  min-width: 0; /* 플렉스 환경에서 ellipsis 작동을 위해 최소 너비를 0으로 설정 */
}

.booktitle h3,
.booktitle p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* 부모 요소의 너비를 초과하지 않도록 설정 */
}

.remove-book-btn {
  margin-left: auto;
  background-color: white;
  border: 1px solid rgb(236, 235, 235);
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-right: 10px;
}

.remove-book-btn:hover {
  background-color: #ffe8e8;
}
